image userdata.ext4 {
	ext4 {
		label = "userdata"
		use-mke2fs = true
	}
	size = 524288K
}

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	# Rockchip BootROM loader: offset 0x40 sectors = 32 KiB
	partition loader1 {
		in-partition-table = false
		image = "idblock.bin"
		offset = 32K
	}

	# U-Boot FIT image: offset 0x4000 sectors = 8192 KiB
	partition loader2 {
		in-partition-table = false
		image = "uboot.img"
		offset = 8192K
	}

	partition rootfs1 {
		image = "rootfs.ext4"
		offset = 16384K
		size = 253952K
	}

	partition rootfs2 {
		image = "rootfs.ext4"
		size = 253952K
	}

	partition userdata {
		image = "userdata.ext4"
		size = 524288K
	}
}